<div *ngIf="ready">
    <div class="flex-between">
        <h2 style="font-size: 1em;">{{ martingale.titre }}</h2>
        <span style="padding-top: .5em">
            <button class="right" pButton (click)="delete()" label="Sup"></button>
            <button pButton (click)="close()" label="Close"></button>
        </span>
    </div>
    <p-table [value]="tab" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Essai</th>
                <th>Mise</th>
                <th>Total</th>
                <th>Gain</th>
                <th>Proba</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-roulette let-i="rowIndex">
            <tr [ngClass]="{ 'active': i == currentIndex, 'win': i == winIndex }">
                <td>{{ i+1 }}</td>
                <td>{{roulette.mise}}</td>
                <td>{{roulette.perte + roulette.mise }} </td>
                <td>{{roulette.mise * roulette.gain - roulette.perte - roulette.mise}}</td>
                <td>{{ 1 - roulette.proba | number:'1.0-5'}}</td>
            </tr>
        </ng-template>
    </p-table>
    <div class="flex-between top">
        <!--<button pButton (click)="compute()" label="+"></button>
        <button pButton (click)="generateRandomProba()" [label]="'Prob : ' + randomProba"></button>-->
        <div class="top">
            <span>
                Lasts : 
            </span>
            <span *ngFor="let i of lastNumbers">
                {{ i }}
            </span>
        </div>
        <button pButton (click)="play()" label="Play"></button>
        <!--<button pButton (click)="generateRandomRoulette()" [label]="'Bille : ' + randomRoulette"></button>
        <button pButton (click)="next()" label="Next"></button>
        <button pButton (click)="win()" label="Win"></button>-->
    </div>
    <div class="flex-between top">
        <div>
            <div>
                Max try : {{ loseStreak }}
            </div>
            <div>
                Nb plays : {{ nbJeux }}
            </div>
        </div>
        <button pButton (click)="multiplay(10)" label="Play 10"></button>
        <button pButton (click)="multiplay(100)" label="Play 100"></button>
    </div>
</div>
<app-roulette [hidden]="ready" (onContinue)="ready = true" (onClose)="close()"></app-roulette>