<div *ngIf="ready">
    <div class="flex-between align-center">
        <h2 style="font-size: 1em;">{{ martingale.titre }}</h2>
        <p-inputSwitch [(ngModel)]="modeLive"></p-inputSwitch>
        <div [ngClass]="{'green': sliderValue == 0, 'red': childRoulette.reds.includes(sliderValue), 'black': childRoulette.blacks.includes(sliderValue)}" class="random" style="color: white; text-align: center; border: 3px solid white; min-width: 2em; font-size: 1em; border-radius: 50%; padding: 4px; max-height: 2em">
            {{ sliderValue }}
        </div>
            <i class="pi pi-dollar" (click)="changeCash()"></i>
            <span>{{ getMiseCourante() }}</span>
            <i class="pi pi-microsoft" (click)="ready = false"></i>
            <i class="pi pi-times" (click)="close()"></i>
    </div>
    <p-table *ngIf="tab; else methods" [value]="tab" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>
                <th>Essai</th>
                <th>Mise</th>
                <th>Total</th>
                <th>Gain</th>
                <th>Proba</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-roulette let-i="rowIndex">
            <tr [ngClass]="{ 'active': i == currentIndex, 'win': i == winIndex }">
                <td>{{ i+1 }}</td>
                <td>{{roulette.mise}}</td>
                <td>{{roulette.perte + roulette.mise }} </td>
                <td>{{roulette.mise * roulette.gain - roulette.perte - roulette.mise}}</td>
                <td>{{ 1 - roulette.proba | number:'1.0-5'}}</td>
            </tr>
        </ng-template>
    </p-table>
    <ng-template #methods>
        <div *ngIf="methodType != 2; else fibo">
            <div class="flex-between align-center">
                <span class="flex-between align-center">
                    <label>Value : </label>
                    <input style="margin-right: .5em; max-width: 5em;" type="number" pInputText [(ngModel)]="newMethod">
                </span>
                <span class="flex-between align-center">
                    <label>Size : </label>
                    <input style="margin-right: .5em; max-width: 5em;" type="number" pInputText [(ngModel)]="newSize">
                </span>
                Sum : {{ getTotal() }}
            </div>
            <div class="flex-end top">
                <button style="margin-right: .5em;" pButton (click)="addToMethod()" label="Add"></button>
                <button style="margin-right: .5em;" pButton (click)="createMethod()" label="Create"></button>
                <button style="margin-right: .5em;" pButton (click)="createRandomMethod()" label="RNG"></button>
            </div>
        </div>
        <ng-template #fibo>
            <input style="margin-right: .5em;" type="number" pInputText [(ngModel)]="fiboStart">
            <button style="margin-right: .5em;" pButton (click)="initFibo()" label="Reset"></button>
            <button style="margin-right: .5em;" pButton (click)="fiboStart = fiboStart * 2" label="Double"></button>
        </ng-template>
        <div *ngIf="method.length > 1" class="flex-start">
            <div class="flex-between lab">
                <span [@inOutAnimation]="'in'" *ngFor="let i of method; let j = index" [ngClass]="{'red': j == 0 || j == method.length - 1}">
                    {{ i }}
                </span>
                <span>/</span>
                <span class="green">{{ methodValue }}</span>
            </div>
        </div>
        <div>
            
        </div>
    </ng-template>
    <div class="flex-between align-center smalltop">
        <!--<button pButton (click)="compute()" label="+"></button>
        <button pButton (click)="generateRandomProba()" [label]="'Prob : ' + randomProba"></button>-->
        <div>
            <span>
                Lasts : 
            </span>
            <span *ngFor="let i of lastNumbers" [ngClass]="{'red': childRoulette.reds.includes(i), 'green': i == 0}">
                {{ i }}
            </span>
        </div>
        <!--<button *ngIf="modeLive" style="margin-right: .5em;" pButton (click)="live()" label="Live"></button>-->
        <button *ngIf="!modeLive" style="margin-right: .5em;" pButton (click)="simulate()" label="Pass"></button>
        <i *ngIf="modeLive" class="pi pi-backward" style="margin-right: .5em;" (click)="deleteLast()"></i>
        <!--<button *ngIf="modeLive" style="margin-right: .5em;" pButton (click)="deleteLast()" label="Delete" [disabled]="playOrPass && currentIndex < 0"></button>-->
        <!--<button pButton (click)="generateRandomRoulette()" [label]="'Bille : ' + randomRoulette"></button>
        <button pButton (click)="next()" label="Next"></button>
        <button pButton (click)="win()" label="Win"></button>-->
    </div>
    <div class="flex-between smalltop align-center">
        <div class="flex-between">
            <div>
                Guess : {{ guessLabel }}
            </div>
            <!--<div>
                Max to win : {{ loseStreak }}
            </div>-->
            <!--<div>
                Nb plays : {{ nbJeux }}
            </div>-->
            <p-inputSwitch [ngStyle]="{'margin-left': modeLive ? '1.5em' : '.5em'}" [(ngModel)]="modeGuess" (click)="guessed()"></p-inputSwitch>
        </div>
        <ng-container *ngIf="!modeLive">
            <button style="max-height: 2.5em;" pButton (click)="play()" label="Play"></button>
            <button style="max-height: 2.5em;" pButton (click)="multiplay(10)" label="x10"></button>
            <button style="max-height: 2.5em; margin-right: .5em;" pButton (click)="multiplay(100)" label="x100"></button>
        </ng-container>
        <!--<p-toggleButton *ngIf="modeLive" style="margin-right: .5em;" [(ngModel)]="playOrPass" onLabel="Play" offLabel="Pass" [style]="{'width':'60px'}"></p-toggleButton>-->
        <p-selectButton class="nostyle" [options]="playModes" [(ngModel)]="selectedPlayMode" (onChange)="playModeChanged()"></p-selectButton>
    </div>
    <div *ngIf="modeLive" class="flex left top align-center">
        <p-slider [(ngModel)]="sliderValue" [style]="{'width':'24em'}" max="36" (onSlideEnd)="slideEnd()" class="right"></p-slider>
    </div>
</div>
<app-roulette [hidden]="ready || modeBatch" [martingale]="martingale" (onContinue)="ready = true" (onClose)="close()" (onBatch)="modeBatch = true"></app-roulette>
<div *ngIf="modeBatch" class="flex-column">
    <div class="flex-column">
        <div class="flex-between">
            <h2>{{ martingale.titre }}</h2>
            <i class="pi pi-times" (click)="modeBatch = false"></i>
        </div>
        <div class="flex-between">
            <h2>Batch guess vs random</h2>
        </div>
        <span class="flex-between align-center">
            <label>Nb itérations : </label>
            <input type="number" pInputText [(ngModel)]="nbIterations">
        </span>
        <span class="flex-between align-center">
            <label>Cash : </label>
            <input type="number" pInputText [(ngModel)]="batchCash">
        </span>
        <span class="flex-between align-center">
            <label>Goal : </label>
            <input type="number" pInputText [(ngModel)]="batchGoal">
        </span>
        <div class="flex-end top">
            <button (click)="startBatch()" pButton label="Start"></button>
        </div>
        <span>
            <label>Guess Score : </label>{{ guessScore }}
        </span>
        <span>
            <label>Random Score : </label>{{ randomScore }}
        </span>
    </div>
    <div>
        <h2>Random number generator</h2>
        <span class="flex-between align-center">
            <label>Number : </label>
            <input type="number" pInputText [(ngModel)]="rngNumber">
        </span>
        <div class="flex-end top">
            <button (click)="startRNG()" pButton label="Generate"></button>
        </div>
        <div class="report" [innerHtml]="reportResult"></div>
        <div class="flex-wrap flex-center rng">
            <ng-container *ngFor="let rng of rngArray">
                <div [ngClass]="{'green': rng == 0, 'red': childRoulette.reds.includes(rng), 'black': childRoulette.blacks.includes(rng)}" class="random" style="color: white; text-align: center; border: 3px solid white; min-width: 2em; font-size: 1em; border-radius: 50%; padding: 4px; max-height: 2em">
                    {{ rng }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="flex-column">
        <h2>Random bet generator</h2>
        <span class="flex-between align-center">
            <label>Number : </label>
            <input type="number" pInputText [(ngModel)]="betNumber">
        </span>
        <span *ngIf="martingale.type == 0" class="flex-between align-center">
            <label>Only consecutives : </label>
            <p-checkbox [(ngModel)]="onlyTiers" binary="true"></p-checkbox>
        </span>
        <span *ngIf="martingale.type == 1" class="flex-between align-center">
            <label>Only color : </label>
            <p-checkbox [(ngModel)]="onlyColor" binary="true"></p-checkbox>
        </span>
        <div class="flex-end top">
            <button (click)="startRandomBet()" pButton label="Generate"></button>
        </div>
        <span class="flex-start">
            <div class="flex-column">
                <div *ngFor="let bet of randomBet">{{ bet }}</div>
            </div>
        </span>
    </div>
</div>
<p-dialog [(visible)]="liveDialog" header="Roulette live" [modal]="true">
    <div>
        <input type="number" placeholder="Live value" pInputText [(ngModel)]="liveValue" autofocus>
        <p-button class="left" (click)="simulateLive()" label="Pass" styleClass="p-button-text"></p-button>
        <p-button class="left" (click)="playLive()" label="Play" styleClass="p-button-text"></p-button>
    </div>
</p-dialog>
<p-dialog [(visible)]="showChangeCash" header="Change cash" [modal]="true">
    <input type="number" placeholder="New value" pInputText [(ngModel)]="newCash" autofocus>
    <p-button class="left" (click)="showChangeCash = false;" label="Cancel" styleClass="p-button-text"></p-button>
    <p-button class="left" (click)="validCash()" label="Valid" styleClass="p-button-text"></p-button>
</p-dialog>