table {
    border-collapse: collapse;
}

tr.active {
    background-color: #da7070 !important;
}

tr.win {
    background-color: #8ee070 !important;
}

.pi {
    font-size: 1.5em;
}

span.red {
    color: red;
}

span.green {
    color: green;
}

div.black {
    background-color: black;

}

div.red {
    background-color: red;
}

div.green {
    background-color: green;
}

.rng {
    margin: auto;
    max-width: calc(100% - 50px);
}

.lab {
    border: black solid 2px;
    margin: 1em 0;
    padding: .5em;
}