table {
    border-collapse: collapse;
}

tr.active {
    background-color: #da7070 !important;
}

tr.win {
    background-color: #8ee070 !important;
}

.pi {
    font-size: 1.5em;
    margin-right: .5em;
}