<div class="body" [ngClass]="{'background': list}">
    <div class="flex-between header">
        <img style="height: 60px;" src="/assets/sevens.png"/>
        <h1 class="" style="font-family: 'Open Sans'; font-size: 1.5em;">Martingales</h1>
        <img style="height: 60px;" src="/assets/jeton.png"/>
    </div>
    <div class="flex-center bottom align" *ngIf="!start && !showRoulette">
        <div class="flex-column">
            <input type="number" placeholder="Cash-in" pInputText [(ngModel)]="cash">
            <input class="top"type="number" placeholder="Objectif" pInputText [(ngModel)]="objectif">
            <button class="top" pButton label="Start" (click)="initData()"></button>
        </div>
    </div>
    <div *ngIf="showRoulette">
        <app-roulette (onClose)="showRoulette = !showRoulette"></app-roulette>
    </div>
    <div *ngIf="start" class="flex-column evenly" style="margin-top: auto;">
        <div [ngClass]="{ 'flex-between': !add, 'flex-center': add }">
            <div *ngIf="!add" style="margin-top: 1.5em">Min: {{ minCash }}</div>
            <div class="flex-center" [ngClass]="getCashClass()">{{ cash }} €</div>
            <div *ngIf="!add" style="margin-top: 1.5em">Max: {{ maxCash }}</div>
        </div>
        <div class="flex-between" *ngIf="!add && list" style="margin-top: 2em;">
            <i style="margin: auto; cursor: pointer;" class="pi pi-plus" (click)="plus()"></i>
            <p-dropdown *ngIf="init" class="flex-center" placeholder="Choisir une martingale" [options]="options" (onChange)="select($event)"></p-dropdown>
            <i style="margin: auto; cursor: pointer;" class="pi pi-refresh" (click)="refresh()"></i>
        </div>
        <div class="flex-center" *ngIf="!add && !list">
            <app-martingale *ngIf="martingale" class="top" [cash]="cash" [martingale]="martingale"  (onDelete)="supprimer()" (onClose)="list = true" (onNext)="substract($event)" (onWin)="win($event)"></app-martingale>
        </div>
        <div *ngIf="add" class="flex-center">
            <app-form (roulette)="ajouter($event, true)" (onCancel)="add = false"></app-form>
        </div>
        <p-chart *ngIf="showChart" class="top" type="line" [data]="data"></p-chart>
    </div>
    <div class="footer flex-between bottom">
        <img style="height: 60px;" src="/assets/cards.png"/>
        <h1 class="" style="font-family: 'Open Sans'; font-size: 1.5em;">Good Luck</h1>
        <img style="height: 60px;" src="/assets/dices.png"/>
    </div>
    <router-outlet></router-outlet>
</div>
<p-dialog *ngIf="!!state" [(visible)]="!!state" [header]="state" [closable]="false" position="top">
    <p>Victoires : {{ nbVictory }}</p>
    <p>Banqueroutes : {{ nbBankruptcy }}</p>
    <p-button (click)="refresh()" label="Stop" styleClass="p-button-text" style="margin-left: 1em; margin-top: 1em;"></p-button>
    <p-button (click)="retry()" label="Retry" styleClass="p-button-text" style="margin-left: 1em; margin-top: 1em;"></p-button>
</p-dialog>