<div class="body" [ngClass]="{'background': list && !quietMode }">
    <div *ngIf="!quietMode" class="flex-between header">
        <img style="height: 60px;" src="/assets/sevens.png"/>
        <h1 class="" style="font-family: 'Open Sans'; font-size: 1.5em;">Martingales</h1>
        <img style="height: 60px;" src="/assets/jeton.png"/>
    </div>
    <div class="flex-center bottom align" *ngIf="!start && !showRoulette">
        <div class="flex-column">
            <input type="number" placeholder="Cash-in" pInputText [(ngModel)]="cash">
            <input class="top" type="number" placeholder="Cash-out" pInputText [(ngModel)]="objectif">
            <button class="top" pButton label="Start" (click)="initData()"></button>
        </div>
    </div>
    <!--<div *ngIf="showRoulette">
        <app-roulette (onClose)="showRoulette = !showRoulette"></app-roulette>
    </div>-->
    <div *ngIf="start" class="flex-column evenly" [ngClass]="{ 'margin-auto' : !quietMode }">
        <div [ngClass]="{ 'flex-between': !add, 'flex-center': add }">
            <div *ngIf="!add" style="margin-top: 1.5em">Min: {{ minCash }}</div>
            <div class="flex-center align-center" [ngClass]="getCashClass()">{{ cash }} €</div>
            <div *ngIf="!add" style="margin-top: 1.5em">Max: {{ maxCash }}</div>
        </div>
        <div *ngIf="!add && list && !showParams" class="flex-column">
            <div class="flex-between" [ngClass]="{ 'bigtop' : !quietMode }">
                <i style="margin: auto; cursor: pointer;" class="pi pi-question" (click)="showInfo = true;"></i>
                <i style="margin: auto; cursor: pointer;" class="pi pi-plus" (click)="plus()"></i>
                <p-dropdown *ngIf="init && !quietMode" class="flex-center" placeholder="Choisir une martingale" [options]="groupedOptions" [group]="true" (onChange)="select($event)"></p-dropdown>
                <p-listbox *ngIf="init && quietMode" [options]="listOptions" (onChange)="select($event)"></p-listbox>
                <i style="margin: auto; cursor: pointer;" class="pi pi-refresh" (click)="refresh()"></i>
                <i style="margin: auto; cursor: pointer;" class="pi pi-cog" (click)="params()"></i>
            </div>
            <div class="flex-center align-center top">
                <label>Quiet mode : </label>
                <p-inputSwitch [(ngModel)]="quietMode" (onChange)="onQuiet()" class="left"></p-inputSwitch>
            </div>
        </div>
        <div class="flex-center" *ngIf="!add && !list && !showParams">
            <app-martingale *ngIf="martingale" class="top" [cash]="cash" [objectif]="objectif" [martingale]="martingale" [historySize]="historySize" [guessSize]="guessSize" [tabSize]="tabSize" [lastNumbers]="lastNumbers" [quietMode]="quietMode" (onDelete)="supprimer()" (onClose)="list = true" (onNext)="substract($event)" (onWin)="win($event)" (onChangeCash)="cash=$event" (onBack)="back()"></app-martingale>
        </div>
        <div *ngIf="add" class="flex-center">
            <app-form (roulette)="ajouter($event, true)" (onCancel)="add = false"></app-form>
        </div>
        <div *ngIf="showParams" class="flex-center">
            <div class="flex-column">
                <h2>Paramètres</h2>
                <span class="flex-between align-center">
                    <label>Tab Size : </label>
                    <input type="number" pInputText [(ngModel)]="tabSize">
                </span>
                <span class="flex-between align-center">
                    <label>History Size : </label>
                    <input type="number" pInputText [(ngModel)]="historySize">
                </span>
                <span class="flex-between align-center">
                    <label>Guess Size : </label>
                    <input type="number" pInputText [(ngModel)]="guessSize">
                </span>
                <span class="align-end top">
                    <button class="p-button-danger" pButton type="button" label="Valider" (click)="showParams = false"></button>
                </span>
            </div>
        </div>
        <p-chart *ngIf="showChart && !quietMode" class="top" type="line" [data]="data"></p-chart>
    </div>
    <div *ngIf="!quietMode" class="footer flex-between bottom">
        <img style="height: 60px;" src="/assets/cards.png"/>
        <h1 class="" style="font-family: 'Open Sans'; font-size: 1.5em;">Good Luck</h1>
        <img style="height: 60px;" src="/assets/dices.png"/>
    </div>
    <router-outlet></router-outlet>
</div>
<p-dialog *ngIf="!!state" [(visible)]="!!state" [header]="state" [closable]="false" position="top">
    <p>Victoires : {{ nbVictory }}</p>
    <p>Banqueroutes : {{ nbBankruptcy }}</p>
    <p-button (click)="refresh()" label="Stop" styleClass="p-button-text" style="margin-left: 1em; margin-top: 1em;"></p-button>
    <p-button (click)="retry()" label="Retry" styleClass="p-button-text" style="margin-left: 1em; margin-top: 1em;"></p-button>
</p-dialog>
<p-dialog [(visible)]="showInfo" header="Bienvenue sur Martingales" [modal]="true">
    <p>Choisissez une martingale dans la liste ou créez votre propre martingale en appuyant sur le bouton +.</p>
    <p>Ensuite, sélectionnez les cases sur lesquelles vous pariez 1 jeton en accord avec la martingale choisie.</p>
    <p>Enfin, jouez en simulation ou en live tout en ayant les chiffres associés à votre martingale et visualisez l'évolution de vos gains.</p>
</p-dialog>