<div class="body">
    <div class="flex-between header">
        <img style="height: 60px;" src="/assets/sevens.png"/>
        <h1 class="" style="font-family: 'Open Sans'; font-size: 1.5em;">Martingales</h1>
        <img style="height: 60px;" src="/assets/jeton.png"/>
    </div>
    <div class="flex-center bottom align" *ngIf="!start && !showRoulette">
        <input type="number" placeholder="Cash-in" pInputText [(ngModel)]="cash">
        <button class="left" pButton label="Start" (click)="initHistory()"></button>
        <!--<button class="left" pButton label="Roulette" (click)="showRoulette = !showRoulette"></button>-->
    </div>
    <div *ngIf="showRoulette">
        <app-roulette (onClose)="showRoulette = !showRoulette"></app-roulette>
    </div>
    <div *ngIf="start" class="flex-column evenly">
        <div class="flex-between">
            <div>Min: {{ minCash }}</div>
            <div class="flex-center" [ngClass]="getCashClass()">{{ cash }} €</div>
            <div>Max: {{ maxCash }}</div>
        </div>
        <div class="flex-center" *ngIf="!add && list">
            <p-dropdown *ngIf="init" placeholder="Choisir une martingale" [options]="options" (onChange)="select($event)"></p-dropdown>
            <button class="left" pButton label="X" (click)="start = false; minCash = null; maxCash = null"></button>
            <button class="left" pButton label="+" (click)="plus()"></button>
        </div>
        <div class="flex-center" *ngIf="!add && !list">
            <app-martingale *ngIf="martingale" class="top" [martingale]="martingale"  (onDelete)="supprimer()" (onClose)="list = true" (onNext)="substract($event)" (onWin)="win($event)"></app-martingale>
        </div>
        <div class="flex-center">
            <div *ngIf="!add">
                <!--<i *ngIf="list" class="pi pi-plus" style="font-size: 7em;margin: auto;" (click)="plus()"></i>-->
                <!--<i *ngIf="!showChart" class="pi pi-chart-line" style="font-size: 7em;margin: auto;" (click)="chart()"></i>-->
            </div>
            <div *ngIf="add">
                <app-form *ngIf="add" (roulette)="ajouter($event, true)" (onCancel)="add = false"></app-form>
            </div>
        </div>
        <p-chart *ngIf="showChart" class="top" type="line" [data]="data"></p-chart>
    </div>
    <div class="footer flex-between bottom">
        <img style="height: 60px;" src="/assets/cards.png"/>
        <h1 class="" style="font-family: 'Open Sans'; font-size: 1.5em;">Good Luck</h1>
        <img style="height: 60px;" src="/assets/dices.png"/>
    </div>
    <router-outlet></router-outlet>
</div>