/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f5b549b0;
}

/* FLEX */
.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex6 {
    flex: 6;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-around
{
    display: flex;
    justify-content: space-around;
}

.flex-between
{
    display: flex;
    justify-content: space-between;
}

.flex-stretch
{
    display: flex;
    justify-content: stretch;
}

.flex-center
{
    display: flex;
    justify-content: center;
}

.flex-end
{
    align-self: flex-end;
}

.left {
    margin-left: 1em !important;
}

.right {
    margin-right: 1em !important;
}

.top {
    margin-top: 1em !important;
}

.bottom {
    margin-bottom: 1em !important;
}

p-togglebutton.green div {
    background-color: green !important;
    border: 1px solid white !important;
}

p-togglebutton.black div {
    background-color: black !important;
    border: 1px solid white !important;
}

p-togglebutton.red div {
    background-color: red !important;
    border: 1px solid white !important;
}

.horizontal p-togglebutton.w-cent, p-togglebutton.w-cent > div {
    width: 100%;
}

/*p-togglebutton.h-cent, p-togglebutton.h-cent > div {
    height: 100%;
}*/

.horizontal p-togglebutton.h-cent > div {
    display: flex;
    align-items: center;
    height: 7em;;
}

.vertical p-togglebutton.h-cent  > div {
    display: flex;
    align-items: center;
    height: 100%;
}

.vertical p-togglebutton  > div {
    justify-content: center;
    min-width: 4em;
}

.vertical .tiers > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}