/* You can add global styles to this file, and also import other style files */

body {
    background-color: #918fa050;
    margin: 0.25em 0;
}

.background {
    background-image: url("/assets/background.png");
    background-position-x: center;
    background-repeat: no-repeat;
    background-position: cover;
    height: 57em !important;
}

/* FLEX */
.flex {
    display: flex;
}

.flex1 {
    flex: 1;
}

.flex2 {
    flex: 2;
}

.flex3 {
    flex: 3;
}

.flex4 {
    flex: 4;
}

.flex6 {
    flex: 6;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
}

.flex-column
{
    display: flex;
    flex-direction: column;
}

.flex-around
{
    display: flex;
    justify-content: space-around;
}

.flex-between
{
    display: flex;
    justify-content: space-between;
}

.flex-stretch
{
    display: flex;
    justify-content: stretch;
}

.flex-center
{
    display: flex;
    justify-content: center;
}

.flex-end
{
    align-self: flex-end;
}

.left {
    margin-left: 1em !important;
}

.right {
    margin-right: 1em !important;
}

.top {
    margin-top: 1em !important;
}

.bottom {
    margin-bottom: 1em !important;
}

p-togglebutton.green div {
    background-color: green !important;
    border: 1px solid white !important;
}

p-togglebutton.black div {
    background-color: black !important;
    border: 1px solid white !important;
}

p-togglebutton.red div {
    background-color: red !important;
    border: 1px solid white !important;
}

.horizontal p-togglebutton.w-cent, p-togglebutton.w-cent > div {
    width: 100%;
}

/*p-togglebutton.h-cent, p-togglebutton.h-cent > div {
    height: 100%;
}*/

.horizontal p-togglebutton.h-cent > div {
    display: flex;
    align-items: center;
    height: 7em;;
}

.vertical p-togglebutton.h-cent  > div {
    display: flex;
    align-items: center;
    height: 100%;
}

.vertical p-togglebutton  > div {
    justify-content: center;
    min-width: 4em;
}

.vertical .tiers > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body .ui-button {
    background-color: #0ab3af !important;
    border: 1px solid #0ab3af !important;
}

body .ui-togglebutton.ui-state-active {
    background-color: #0ab3af !important;
    border-color: #0ab3af !important;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    border-color: #0ab3af !important;
}

body .ui-button:enabled:focus {
    box-shadow: 0 0 0 0.2em #0ab3af42 !important;
}

body .ui-inputtext:enabled:focus:not(.ui-state-error) {
    box-shadow: 0 0 0 0.2em #0ab3af42 !important;
    border-color: #0ab3af !important;
}

body .ui-dropdown:not(.ui-state-disabled).ui-state-focus {
    box-shadow: 0 0 0 0.2em #0ab3af42 !important;
    border-color: #0ab3af !important;
}

.ui-dialog-top {
    margin-top: 3em;
}